.playlist-container {
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-color: #3c5367 #172c3e;
}

.playlist-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  font-family: 'Roboto', sans-serif;
}

.playlist-container li:hover {
  background-color: #375269;
}

.playlist-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  width: 100%;
  height: 100%;
  padding: 10px;
  
  border: 1px solid #20374d;
  border-bottom-width: 0;

  color: white;
}

.playlist-item img {
  width: 59px;
  height: 59px;
  border: solid 1px #6b879f;
  /* border-radius: 50%; */
}

.playlist-item > div {
  display: flex;
  flex-direction: row;
}

.playlist-item > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #969696;
}

.playlist-item div > div > :first-child {
  font-size: 16px;
  color: white;
}

.playlist-item i {
  padding: 22px 30px 0 0;
  color: white;
}

.playing-highlight {
  background-color: #456a8a;
}

.playing-highlight > div > div {
  color: #7aa6cd;
}

.playing-highlight > div > div > :first-child {
  color: #9cc8ee;
}