.player-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
}

.player-container > img {
  margin: auto;
  width: 300px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 16px 0 rgba(0, 0, 0, 0.3);
}

.player-song-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-song-info i {
  color: white;
  padding: 0 30px;
}

.player-song-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  
  font-family: 'Roboto', sans-serif;
  color: #969696;
}

.player-song-details > :first-child {
  color: white;
}

.player-progress {
  padding-top: 35px;
}

.player-progress > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-progress > div > span {
  padding: 0 30px;
  margin-bottom: -12px;

  color: #d9d9d9;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.player-controls {
  padding: 50px 50px;
  color: #929da7;
}

.player-controls > div {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
}

.player-controls > div > i {
  padding: 0 15px;
}

/* ======== Button events ======== */

.player-controls > div > i:hover {
  color: #7796af;
}
