.full {
  width: 800px;
  height: 575px;
}

.header {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  padding: 10px 0px;
  width: 100%;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #0c1f2f;
  color: rgb(190, 190, 190);
}

.header i {
  padding: 0 15px;
}

#playlist {
  color: white;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #172c3e;
}

.divider-v {
  height: 100%;
  width: 5px;
  background-color: #0e2335;
}

.progress {
  background-color: #0a1b2a;
  border-radius: 30px;
  padding: 2px;
  margin: 0 70px 0 70px;
}

.progress-bar {
  height: 6px;
  border-radius: 30px;
  background-color: #f6f6f6;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.8;
  pointer-events: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
